<div class="ui container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of memberList">{{member}}</li>
    </ul>
    <div class="add-members">
      <input #addMemberInput type="text" placeholder="Name..." (input)="onChangeMember(addMemberInput.value)" [value]="newMemberName" />
      <button type="button" (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams">
      <input #teamSizeInput type="text" placeholder="# of teams" (input)="onChangeTeamSize(teamSizeInput.value)" [value]="teamSize" />
      <button type="button" (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <app-team *ngFor="let team of teams; let i=index" [index]="i" [team]="team"></app-team>
  </div>
</div>
